# **Solution of Week 3 - Project 2**

In [114]:
!python --version

Python 3.9.7

<hr>

### **Loading Packages and Dataset:**

In [115]:
import numpy as np
import pandas as pd

In [116]:
import os
# Replace the path with the path of the folder where you have saved the data files
os.chdir(r'C:\Users\soura\Courses\GrrowUp Data Analytics\3. Week 3 -  Data Cleaning\Week 3 - Project 2')

In [117]:
dataset = pd.read_csv('chipotle.tsv',sep='\t')

In [118]:
dataset.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<hr>

### **1. Missing Values:**

In [119]:
dataset.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

- As we can see we have a lot of missing values, but due to the column being a choice description, we do not need to deal with NaN values.

<hr>

### **2. Data Types:**

In [120]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

- From the above output, we can see that the column item_price is of **object** type. We need to convert it to **float type**.

<hr>

### **3. Duplicated Entries:**

In [121]:
dataset.duplicated().sum()

59

- From the above output we can understand that there are 41 duplicate entries in the dataset, the best approach would be to drop those duplicated data.

In [122]:
dataset = dataset.drop_duplicates()

- Now that we have dropped all duplicates we can check the dataset again for duplicates to verify

In [123]:
dataset.duplicated().sum()

0

In [124]:
dataset.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<hr>

### **4. Quantity and Item Price:**

In [125]:
dataset['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4563, dtype: object

In [126]:
dataset['quantity']

0       1
1       1
2       1
3       1
4       2
       ..
4617    1
4618    1
4619    1
4620    1
4621    1
Name: quantity, Length: 4563, dtype: int64

- From basic analysis we do not see any anomalies or inconsistencies in the data,
  - let us try a different approach

In [127]:
anomalies = dataset[(dataset['quantity'] <= 0) | (dataset['item_price'].str.replace('$', '', regex=False).astype(float) <= 0)]

if not anomalies.empty:
    print("Anomalies Found:")
    anomalies
else:
    print("No anomalies found in Quantity and Item Price columns.")

No anomalies found in Quantity and Item Price columns.

- As seen from the output above there seem to be no anomalies in the data of item_price or quantity

<hr>

### **5. Choice Description:**

In [128]:
dataset['choice_description']

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4563, dtype: object

### **6. Handling Special Characters:**

In [129]:
dataset['item_price'] = dataset['item_price'].replace('[\$,]', '', regex=True).astype(float)

In [130]:
dataset.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### **7. Order Id Integrity:**

In [131]:
missing_order_ids = dataset[dataset['order_id'].isnull()]
if not missing_order_ids.empty:
    print("Missing Order IDs:")
    print(missing_order_ids)
else:
    print("No missing Order IDs.")

No missing Order IDs.

### **8. Item Name Standardization:**

In [143]:
dataset['item_name'] = dataset['item_name'].str.lower().str.strip()

In [144]:
dataset['item_name'].value_counts()

chicken bowl                             717
chicken burrito                          546
chips and guacamole                      474
steak burrito                            365
canned soft drink                        290
steak bowl                               210
chips                                    208
bottled water                            155
chicken soft tacos                       111
chips and fresh tomato salsa             110
chicken salad bowl                       110
canned soda                              102
side of chips                            101
veggie burrito                            95
barbacoa burrito                          90
veggie bowl                               85
carnitas bowl                             68
barbacoa bowl                             65
carnitas burrito                          59
steak soft tacos                          55
6 pack soft drink                         54
chicken crispy tacos                      47
chips and tomatillo red chili salsa       46
chips and tomatillo green chili salsa     43
carnitas soft tacos                       40
steak crispy tacos                        35
chips and tomatillo-green chili salsa     31
steak salad bowl                          29
nantucket nectar                          27
barbacoa soft tacos                       25
chips and roasted chili corn salsa        22
izze                                      19
chips and tomatillo-red chili salsa       19
veggie salad bowl                         18
chips and roasted chili-corn salsa        18
barbacoa crispy tacos                     11
chicken salad                              9
barbacoa salad bowl                        9
veggie soft tacos                          7
carnitas crispy tacos                      7
veggie salad                               6
carnitas salad bowl                        6
burrito                                    6
steak salad                                4
crispy tacos                               2
salad                                      2
bowl                                       2
chips and mild fresh tomato salsa          1
veggie crispy tacos                        1
carnitas salad                             1
Name: item_name, dtype: int64

<hr><hr>

# Questions

### 1.	Quantity of each item

In [133]:
item_quantity = dataset.groupby('item_name')['quantity'].sum().reset_index()
item_quantity.sort_values(by='quantity', ascending=False)

                                item_name  quantity
17                           Chicken Bowl       752
18                        Chicken Burrito       584
25                    Chips and Guacamole       501
39                          Steak Burrito       383
10                      Canned Soft Drink       340
23                                  Chips       227
38                             Steak Bowl       220
6                           Bottled Water       204
24           Chips and Fresh Tomato Salsa       130
9                             Canned Soda       124
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       116
37                          Side of Chips       110
45                         Veggie Burrito        97
2                        Barbacoa Burrito        90
44                            Veggie Bowl        87
11                          Carnitas Bowl        71
1                           Barbacoa Bowl        65
12                       Carnitas Burrito        60
43                       Steak Soft Tacos        56
0                       6 Pack Soft Drink        55
19                   Chicken Crispy Tacos        50
30    Chips and Tomatillo Red Chili Salsa        48
29  Chips and Tomatillo Green Chili Salsa        45
16                    Carnitas Soft Tacos        40
40                     Steak Crispy Tacos        36
31  Chips and Tomatillo-Green Chili Salsa        33
42                       Steak Salad Bowl        31
35                       Nantucket Nectar        29
5                     Barbacoa Soft Tacos        25
32    Chips and Tomatillo-Red Chili Salsa        24
27     Chips and Roasted Chili Corn Salsa        23
34                                   Izze        19
48                      Veggie Salad Bowl        18
28     Chips and Roasted Chili-Corn Salsa        18
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl         9
20                          Chicken Salad         9
13                  Carnitas Crispy Tacos         8
49                      Veggie Soft Tacos         8
8                                 Burrito         6
47                           Veggie Salad         6
15                    Carnitas Salad Bowl         6
7                                    Bowl         4
41                            Steak Salad         4
36                                  Salad         2
33                           Crispy Tacos         2
26      Chips and Mild Fresh Tomato Salsa         1
14                         Carnitas Salad         1
46                    Veggie Crispy Tacos         1

### 2.	What was the most ordered item in the choice_description column?

In [134]:
dataset['choice_description'].value_counts().head(1)

[Diet Coke]    133
Name: choice_description, dtype: int64

### 3.	How many items were ordered in total?

In [135]:
dataset['quantity'].sum()

4913

### 4.	How much was the revenue for the period in the dataset?

In [136]:
dataset['total_price'] = dataset['quantity'] * dataset['item_price']

dataset['total_price'].sum()

38914.11

### 5.	How many orders were made in the period?

In [137]:
dataset['order_id'].nunique()

1834

### 6.	What is the average revenue amount per order?

In [141]:
order_revenue = dataset.groupby('order_id')['total_price'].sum().reset_index()
order_revenue.head()

   order_id  total_price
0         1        11.56
1         2        33.96
2         3        12.67
3         4        21.00
4         5        13.70

In [142]:
order_revenue['total_price'].mean()

21.21816248636858

### 7.	How many different items are sold?

In [139]:
dataset['item_name'].nunique()

50

# END

<hr> <hr>